.recomendacion {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: map-get($colors, secondary);
        h3{
            text-align: center;
            color: map-get($colors, tertiary);
            font-weight: 700;
            padding-bottom: 30px;
            text-shadow: 3px 3px 3px map-get($colors, primary);
        }
        h6{
            text-align: center;
        }
        .video{
            @extend h6
        }
        .responsive-video{
            display: none;
        }
}