.contenedor-catalogo{
    display: grid;
    grid-template-areas: 
    "header header header"
    "tituloCatalogo tituloCatalogo tituloCatalogo"
    "productosFiltro productosFiltro productosFiltro"
    "productos productos productos"
    "footer footer footer";
    row-gap: 50px;
        .tituloCatalogo{
            @include title-style(#ffffff, underline #f76700);
            text-align: center;
            margin-top: 100px;
        }
        .productosFiltro{
            display: flex;
            justify-content: space-evenly;
            margin-top: 50px;
            margin-bottom: -50px;
            }
        .productos {
            display: flex;
            margin-top: 100px;
            background: map-get($colors, secondary);
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid map-get($colors, tertiary);
            margin-top: 20px;
            margin-bottom: 20px;
            width: 20%;
            border-radius: 10px;
            transition: all 1s;
            object-fit: contain;
            box-shadow: 4px 4px 1px 0 rgba(0,0,0,0.2);
            &:hover{
                background-color: map-get($colors, tertiary);
            }
                h5, b{
                    color: map-get($colors, primary);
                    text-align: center;
                }
                .btn{
                    background-color: map-get($colors, primary);
                    border: 1px solid map-get($colors, tertiary);
                }
        }
}

