.contenedor-sugerencias{
    @extend .contenedor-registrate;
    .form{
        display: flex;
        justify-content: center !important;
        fieldset{
            display: flex;
            flex-direction: column;
            padding: 4rem;
            align-items: center;
            background-color: map-get($colors, secondary);
            margin-top: 70px;
            border-radius: 8px;
            box-shadow: 5px 5px 4px map-get($colors, tertiary);
            h1{
                @include title-style2(20px, -40px, underline #f76700)
            }
            textarea{
                height: 226px;
                width: 565px;
            }
            .enviar{
                display: flex;
                justify-content: center;
            }
        }
        }
}