nav{
    background-color: map-get($colors, primary);
    img{
        width: 40px;
    }
    .nav-link{
            &:hover{
                    color: map-get($colors, tertiary);
                }
            }
    #carrito{
        margin-left: 600px;
    }
    
}