* {
    padding: 0;
    margin: 0;
    font-family: "Prompt", sans-serif;}

#body {
    background-color: map-get($colors, primary);
}

.navbar{
    grid-area: nav;
}
header{
    grid-area: header;
}
.beneficios{
    grid-area: beneficios;
}
.carrusel{
    grid-area: carrusel;
}
.recomendacion{
    grid-area: recomendacion;
}
.marcas{
    grid-area: marcas;
}
footer{
    grid-area: footer;
}
.productosFiltro{
    grid-area: productosFiltro;
}
.productos{
    grid-area: productos;
}
.tituloCatalogo{
    grid-area: tituloCatalogo;
}
.tituloOfertas{
    grid-area: tituloOfertas;
}
.form{
    grid-area: form;
}

@mixin title-style($color, $decoration) {
    color: $color;
    text-decoration: $decoration;
}

@mixin title-style2($mb, $mt, $decoration){
    margin-bottom: $mb;
    margin-top: $mt;
    text-decoration: $decoration;
}